{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}
{{#partial "content"}}
<h1>Edit a Non-Endangered Animal</h1>

<p>Edit the animal here:</p>

<form action="/animals/{{id}}/edit" method="post">
    <div class="form-group">
        <label for="name">Animal Name</label>
        <input id="name" name="name" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark-green">Edit Animal</button>
</form>
{{/partial}}
{{> layout.hbs}}